<?xml version="1.0" encoding="utf-8"?>
   <packages>
      <package id="7zip" />
      <package id="msiafterburner" />
      <package id="notepadplusplus" />
      <package id="vlc" />
      <package id="bleachbit" />
      <package id="googlechrome" />
      <package id="steam" />
      <package id="discord" />
      <package id="cpu-z" />
      <package id="hwinfo" />
      <package id="uplay" />
      <package id="origin" />
      <package id="gpu-z" />
      <package id="geforce-experience" />
      <package id="qbittorrent" />
      <package id="k-litecodecpackfull" />
      <package id="logitechgaming" />
      <package id="microsoft-windows-terminal" />
      <package id="powertoys" />
      <package id="spotify" />
      <package id="adobereader" />
      <package id="jre8" />
      <package id="git.install" />
      <package id="python3" />
      <package id="nodejs.install" />
      <package id="filezilla" />
      <package id="office365business" />
      <package id="vscode" />
      <package id="microsoft-edge" />
      <package id="microsoft-teams" />
      <package id="postman" />
      <package id="firacode" />
      <package id="github-desktop" />
      <package id="streamlabs" />
      <package id="line" />
      <package id="wsl-ubuntu-2004" />
      <package id="goggalaxy" />
      <package id="expressvpn" />
      <package id="glasswire" />
      <package id="ffmpeg" />

-->
 
       -->
</packages>